@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
* {
    
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    
}

/* --- Navigation ---- */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.8)!important ;
}

.navbar-brand img {
    height: 1.4rem;
    padding-left: 35px;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1abc9c;
}

/* ---- Landing Page ---- */
.home-inner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/code.jpg');
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    color: #fff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;

}

.caption h3 {
    font-size: 1.3rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;

}


.narrow {
    width: 80%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow-project {
    width: 65%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

.btn-secondary {
    
    font-weight: 500;
    font-size: 16px;
    padding: .6rem 1rem;
    margin: 2px;
    color: #1abc9c;
    background-color: transparent;
    border: 1.5px solid #1abc9c;
    border-radius: 0px;
}

.btn-secondary:hover,
.btn-secondary:active{
    background-color: #16a085;
    border-color: #16a085;
}

.right-arrow {
    margin-left: 5px;
}

.info-buttons {
    color: #fff;
    width: 100%;
 }


#arrow-down {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 50px;
    transition: 100ms;
}

#arrow-down:hover {
    font-size: 2.2rem;
}

/* Proyectos Section */
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

.jumbotron-white{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
    background: #fff;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
}

.heading-underline {
    width: 6rem;
    height: .1rem;
    background-color: #1abc9c;
    margin: 0 auto 2rem;
}

.project-underline {
   
    background-color: #1abc9c;
    margin: 4rem auto;
}


.feature a {
    display: inline-block;
    text-decoration: none;
}

.feature h3 {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature .skill-title h3 {
    display: inline;
}



.feature p {
    font-size: 1.1rem;
    text-justify: inter-word;
}

.icon {
    font-size: 2.4rem;
    color: #505962;
}


.project-img {
    width: 100%;
    float: left;
}

.project-img img{
    width: 100%;
}

.project-info {
    float: right;
    width: 100%;
}


/* Footer Section */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 2rem 0 2rem;
}

footer h3 {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

footer .contact-data {
    margin: 0 auto;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

footer a {
    color: #fff;
}


footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}


.end-page {
    background: #141414;
    height: 51px;
}

/* Media Query Section */
@media (max-width: 767px) {
    
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: 0.15rem;
        padding-bottom: .5rem;
    }
    
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }

    .clients img {
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }

    .narrow-project {
        width: 85%;
    }
    

    .project-info p {
        text-align: center;
    }

    .project-info h3 {
        text-align: center;
    }

    .info-buttons {
        text-align: center;
    }

}
